<h1>Pages#Contact</h1>

<p><%= number_to_phone "9999939999" %></p>

<p><%= number_to_currency "1545890" %></p>

<p><%= number_to_percentage "80.6" %></p>

<p><%= number_with_delimiter "465478951330208913" %></p>
